/*
   general styles
*/
.center-block-horiz {
   margin-left: auto !important;
   margin-right: auto !important;
 }
 /*change height of pdf*/
.set-margin-cicis-menu-to-go {
  margin: -50px;
}
/*black border space from actual pdf*/
.set-padding-cicis-menu-to-go {
  padding: 0px;
}
.set-border-cicis-menu-to-go {
   border: 5px inset #4f4f4f;
}
set-box-shadow-cicis-menu-to-go {
  box-shadow: 4px 4px 14px #4f4f4f;
}
  
/*
** Style the iframe
** =========================
*/
/*
    css commmon to all iframes
*/
.responsive-wrapper {
  position: relative;
  width: 100%;
  height: 0;    /* gets height from padding-bottom */
  overflow: hidden;
  /* put following styles (necessary for overflow and 
     scrolling handling) inline in .embed-responsive-element-wrapper around iframe because not stable in CSS
    -webkit-overflow-scrolling: touch; 
                      overflow: auto; */
}
.responsive-wrapper img,
.responsive-wrapper object,
.responsive-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   
  border-style: none;
  padding: 0;
  margin: 0;
}

/*
    css particular to this iframe
*/

#Iframe-Cicis-Menu-To-Go-Question {
  max-width: 666.67px;
  max-height: 600px;
  overflow: inherit;
  margin-bottom: 10px;
  position: relative;
}

#Iframe-Cicis-Menu-To-Go-Answer {
  max-width: 666.67px;
  max-height: 600px;
  overflow: inherit;
  margin-bottom: 10px;
  position: relative; 
}

/*
   padding-bottom = h/w as %
*/
.responsive-wrapper-padding-bottom-90pct {
  padding-bottom: 90%;
}